.App {
  text-align: center;
  color: #c22828;
}

.carditem{
  border-radius: 10%;
  border: black;
 margin-bottom: 10%;
  background-color: black;
 width: 23.12%;
  margin-right: 40%;
  justify-content: center;
  padding-bottom: 0.1%;
  border-color: black;
  
}
.cardbody{
  border-radius: 0%;
  border: black;
  width: 40%;
  padding-left: 0%;
  justify-content: center;
  align-content: center;
  border-color: black;
  margin-bottom: 10%;
  
} 
.cardimg{
  border-width: 1cm;
 width: 19.5rem;
 border-radius: 20%;
  
  
}


.button{
  
 border-radius: 20%;
 background-color: blue;
  
  
}
.carddescrip{
  border-width: 1cm;
 width: 19.5rem;
 border-radius: 20%;
  justify-content: center;
  
}

.carddescri{
  border-width: 1cm;
 width: 19.5rem;
 border-color: black;
 margin-bottom: 10%;
  justify-content: center;
  color: black;
  background-color: aliceblue;
}
